{{> menu}}

<form class="box"  action="/point/{{placemark._id}}/updatePoint/{{point._id}}" method="POST">
    <label>Update Trail Details:</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <input class="input" type="text" name="name" value="{{point.name}}">
            </div>
            <div class="field">
                <input class="input" type="text" name="description" value="{{point.description}}">
            </div>
            <div class="field">
                <input class="input" type="text"  name="latitude" value="{{point.latitude}}">
            </div>
            <div class="field">
                <input class="input" type="text"  name="longitude" value="{{point.longitude}}">
            </div>
        </div>
    </div>
    <button class="button is-primary">Update Trail</button>
</form>